:root {
    --purple:       hsl(285, 79%, 70%);
    --blue:         hsl(200, 100%, 50%);
    --light-blue:   hsl(200, 100%, 70%);
    --light-purple: hsl(285, 79%, 50%);
    --red:          hsl(0, 100%, 90%);
    --light-red:    hsl(0, 100%, 50%);
    --gray:         #777777;
    --dark-gray:    #333333;
    --white:        #FFFFFF
}

.container {
    position:      relative;
    width:         20em;
    min-height:    1.5em;
    border:        0.05em solid var(--gray);
    display:       flex;
    align-items:   center;
    gap:           .5em;
    padding:       .5em;
    border-radius: .25em;
    outline:       none;
}

.container:focus {
    border-color: var(--light-purple);
}

.value {
    flex-grow: 1;
    display:   flex;
    gap:       .5em;
    flex-wrap: wrap;
}

.close-btn {
    background: none;
    color:      var(--gray);
    border:     none;
    outline:    none;
    cursor:     pointer;
    padding:    0;
    font-size:  1.25em;
}

.close-btn:focus,
.close-btn:hover {
    color: var(--dark-gray);
}

.divider {
    background-color: var(--gray);
    align-self:       stretch;
    width:            .05em;
}

.caret {
    translate:        0 25%;
    border:           .25em solid transparent;
    border-top-color: var(--gray);
}

.options {
    position:         absolute;
    margin:           0;
    padding:          0;
    list-style:       none;
    display:          none;
    max-height:       15em;
    overflow-y:       auto;
    border:           .05em solid var(--gray);
    border-radius:    .25em;
    width:            100%;
    left:             0;
    top:              calc(100% + .25em);
    background-color: var(--white);
    z-index:          100;
}

.options.show {
    display: block;
}

.option {
    padding: .25em .5em;
    cursor:  pointer;
}

.option.selected {
    background-color: var(--purple);
}

.option.highlighted {
    background-color: var(--light-purple);
    color:            var(--white);
}

.option-badge {
    display:       flex;
    align-items:   center;
    border:        .05em solid var(--gray);
    border-radius: .25em;
    padding:       .15em .25em;
    gap:           .25em;
    cursor:        pointer;
    background:    none;
    outline:       none;
}

.option-badge:hover,
.option-badge:focus {
    background-color: var(--red);
    border-color:     var(--light-red);
}

.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn {
    color: var(--light-red);
}

.option-badge > .remove-btn {
    font-size: 1.25em;
    color:     var(--gray);
}
